*{
  box-sizing: border-box;
  
}

.App {
  text-align: center;
}
.dialog-action{
  /* margin: 10px; */
}
#store1,#store2,#store3{
  margin: 50px;

}
.fields{
 
  margin: 10px;
  
}
.product-form{
  /* border: 1px solid black; */
  width: 50vh;
  padding: 10px;
}
.entry{
 
}